.topnav {
  background-color: rgb(209, 15, 15);
  overflow: hidden;
  font-family: fantasy;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: darkred;
  color: white;
}

body {
  background-image: url(https://media.giphy.com/media/KDrjub26iceZ2/giphy.gif);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  font-family: cursive;
}

p {
  color: white;
  text-align: center;
  font-family: cursive;
  font-size: large;
}
