.topnav {
  background-color:);
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
}

.topnav a {
  float:left;
  color: white;
  text-align: center;
  padding: 2%;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: darkgray;
  color: white;
}

body {
  padding-top: 2%;
  background-image: url();
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  color: rgb(55, 95, 160;
}

#input:hover {
 background-color: grey;
}
h1 {
  text-align: center;
  font-family: font-family: 'Roboto Mono', monospace;
  font-weight: 1000;
}

p {
  text-align: center;
  font-family: cursive;
  font-size: large;
}
