.topnav {
  background-color: lightpurple;
  overflow: hidden;
  font-family: fantasy;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: purple;
  color: white;
}

body {
  background-image: url(https://media.giphy.com/media/TDKjSUGGbTAup6w3FO/giphy.gif);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

p {
  font-family: fantasy;
  font-size: 45px;


}

ul {
    list-style-type: none;
}

header {
    background-color: rgb(239, 240, 179);
    padding: .5em;
    padding-left: .10em;
    padding-right: .10em;
    /*width: .20em;*/
}

h1 {
  text-align: center;
  color: black;

}


/*QUESTION HEADERS*/
.question {
    display: none;
}

.question#q1 h2 {
  text-align:none;
  padding-bottom: 5px;
  font-size: 20px;
}

.container {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:5%;
  grid-auto-rows: minmax(25%, auto);
}

.question#q2 h2 {
  text-align:none;
  padding-bottom: 5px;
  font-size: 20px;
}

.question#q3 h2 {
  text-align:none;
  padding-bottom: 5px;
  font-size: 20px;
}

.question#q4 h2 {
  text-align:none;
  padding-bottom: 5px;
  font-size: 20px;
}

.question#q5 h2 {
  text-align:none;
  padding-bottom: 5px;
  font-size: 20px;
}

.question#q6 h2 {
  text-align:none;
  padding-bottom: 5px;
  font-size: 20px;
}
